<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Origin</title>
</head>
<body>
    <h1>Open Careers</h1>
    <img src = "http://localhost:63342/PythonProject/static/career.jpg" height = "320">
    <h2>About Us</h2>
    <p>
        Welcome to Origin – Where Careers Begin
        At Origin, we believe every career has a starting point — and we're here to help you find yours.

        Whether you're just stepping into the workforce, looking to make a change, or seeking your next big opportunity, Origin is your go-to platform for discovering open roles across industries, locations, and experience levels.

        We’re more than a job board. We’re a career launchpad — built to connect people with possibilities, and companies with talent. Every listing on Origin is carefully curated to ensure it's real, active, and relevant. No spam. No dead links. Just opportunities that move you forward.
    </p>
    <button>Contact Us</button>
</body>
</html>